:root {
  --light-grey-1: #f4f4f4;
  --black: #161616;
  --white: white;
  --light-grey-2: #e4e2df;
  --light-grey-3: #d8d5d2;
  --secondary: #f8f6f4;
  --seashell: seashell;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

body {
  background-color: var(--light-grey-1);
  color: var(--black);
  font-family: Relative, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h2 {
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
}

h3 {
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h4 {
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
}

h5 {
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
}

h6 {
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
}

p {
  margin-bottom: 0;
}

a {
  color: var(--black);
  text-decoration: underline;
}

ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.25rem;
}

ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 40px;
}

li {
  margin-bottom: .5rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .1875rem solid var(--black);
  margin-bottom: 0;
  padding: .75rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-weight-light {
  font-weight: 300;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0%;
}

.show {
  display: block;
}

.overflow-hidden {
  overflow: hidden;
}

.global-styles {
  display: block;
  position: fixed;
  inset: 0% auto auto 0%;
}

.text-weight-bold {
  font-weight: 700;
}

.text-size-regular {
  font-size: 1rem;
}

.text-weight-normal {
  font-weight: 400;
}

.text-align-center {
  text-align: center;
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.show-mobile-portrait {
  display: none;
}

.text-style-italic {
  font-style: italic;
}

.hide {
  display: none;
}

.text-align-left {
  text-align: left;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-style-link {
  text-decoration: underline;
}

.text-style-muted {
  opacity: .6;
}

.text-size-small {
  font-size: .875rem;
}

.text-rich-text h1 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.text-rich-text h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1.25rem;
}

.text-rich-text h5, .text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text p {
  margin-bottom: 1rem;
}

.text-rich-text blockquote {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-style: italic;
}

.text-rich-text a {
  text-decoration: underline;
}

.text-rich-text figcaption {
  opacity: .8;
  text-align: left;
  border-left: 2px solid #000;
  margin-top: .5rem;
  padding-left: .5rem;
  font-size: .875rem;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.max-width-medium {
  width: 100%;
  max-width: 35rem;
}

.max-width-xsmall {
  width: 100%;
  max-width: 25rem;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 20rem;
}

.page-wrapper {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  min-height: 920px;
  display: flex;
  overflow: visible;
}

.text-size-tiny {
  font-size: .75rem;
}

.container-large {
  width: 100%;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.background-color-black {
  background-color: var(--black);
  color: #f5f5f5;
}

.styleguide_classes {
  display: none;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.page-padding {
  padding-left: 5%;
  padding-right: 5%;
}

.text-align-right {
  text-align: right;
}

.show-tablet {
  display: none;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.max-width-large.align-center {
  margin-left: auto;
  margin-right: auto;
}

.show-mobile-landscape {
  display: none;
}

.background-color-white {
  background-color: var(--white);
}

.max-width-small {
  width: 100%;
  max-width: 30rem;
}

.form-message-error {
  margin-top: .75rem;
  padding: .75rem;
}

.utility_component {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility_form-block {
  text-align: center;
  flex-direction: column;
  max-width: 20rem;
  display: flex;
}

.utility_form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.utility_image {
  margin-bottom: .5rem;
  margin-left: auto;
  margin-right: auto;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.margin-tiny {
  margin: .25rem;
}

.margin-xxsmall {
  margin: .5rem;
}

.margin-xsmall {
  margin: 1rem;
}

.margin-small {
  margin: 1.5rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-large {
  margin: 3rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.margin-huge {
  margin: 6rem;
}

.margin-xhuge {
  margin: 7rem;
}

.margin-xxhuge {
  margin: 10rem;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.padding-tiny {
  padding: .25rem;
}

.padding-xxsmall {
  padding: .5rem;
}

.padding-xsmall {
  padding: 1rem;
}

.padding-small {
  padding: 1.5rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-large {
  padding: 3rem;
}

.padding-xlarge {
  padding: 4rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.padding-huge {
  padding: 6rem;
}

.padding-xhuge {
  padding: 7rem;
}

.padding-xxhuge {
  padding: 10rem;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.padding-bottom, .padding-bottom.padding-xlarge {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}

.text-style-nowrap {
  white-space: nowrap;
}

.text-weight-medium {
  font-weight: 500;
}

.styleguide_heading {
  z-index: 4;
  color: #fff;
  background-color: #000;
  padding: 4px 8px;
  position: sticky;
  top: 0;
}

.styleguide_list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  padding-bottom: 4rem;
}

.stylesystem-spacing-wrapper {
  background-color: var(--light-grey-1);
}

.styleguide_subheading {
  z-index: 3;
  color: #000;
  background-color: #d3d3d3;
  padding: .25rem .5rem;
  position: sticky;
  top: 32px;
}

.text-size-medium {
  margin-top: 16px;
  font-size: 1.125rem;
}

.text-size-medium.small {
  font-size: .7rem;
}

.icon-small {
  width: 2rem;
}

.icon-medium {
  width: 3rem;
}

.text-color-white {
  color: var(--white);
}

.stylesystem_color-sample {
  border: 1px solid #000;
  padding: 8rem 1.5rem 1.25rem;
}

.stylesystem_color-sample.lightgrey1 {
  background-color: var(--light-grey-1);
}

.stylesystem_color-sample.black {
  background-color: #161616;
}

.stylesystem_color-sample.white {
  background-color: var(--white);
}

.stylesystem_color-sample.lightgrey2 {
  background-color: var(--light-grey-2);
}

.stylesystem_color-sample.lightgrey3 {
  background-color: var(--light-grey-3);
}

.stylesystem_color-sample.orange {
  background-color: #ff7448;
}

.stylesystem_color-sample.red {
  background-color: #ff4848;
}

.stylesystem_color-sample.purple {
  background-color: #6248ff;
}

.text-size-large {
  font-size: 1.25rem;
}

.heading-xxlarge {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.icon-xsmall {
  width: 1.5rem;
}

.styleguide_icons-list {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-wrap: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  display: grid;
}

.icon-xxsmall {
  width: 1rem;
}

.heading-medium {
  letter-spacing: -.02em;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
}

.tabs-menu {
  border-bottom: 1px #00000026;
  display: flex;
  overflow: auto;
}

.tabs-menu.no-scrollbar {
  padding-right: 24px;
}

.icon-xlarge {
  width: 6.5rem;
}

.background-color-black-2 {
  background-color: #000;
}

.heading-large {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.image-wrapper-3-2 {
  width: 100%;
  padding-top: 66.66%;
  position: relative;
}

.background-color-lightgrey {
  background-color: var(--light-grey-1);
}

.tab-link {
  color: #0009;
  background-color: #0000;
  border-bottom: 2px solid #0000;
  flex: none;
  margin-right: 1.5rem;
  padding: .5rem 0;
}

.tab-link.w--current {
  color: #000;
  background-color: #fff;
  border-bottom: .125rem solid #000;
}

.heading-xsmall {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
}

.image-wrapper-4-3 {
  width: 100%;
  padding-top: 75%;
  position: relative;
}

.heading-small {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
}

.text-style-quote {
  border-left: .1875rem solid var(--black);
  margin-bottom: 0;
  padding: .75rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.image-wrapper_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.image-wrapper-16-9 {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.text-color-black {
  color: var(--black);
}

.stylesystem-images_layout {
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.icon-large {
  width: 5rem;
}

.image-wrapper-1-1 {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.styleguide_grid-colours {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.heading-xlarge {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
}

.icon-1x1-xxsmall {
  width: 1rem;
  height: 1rem;
}

.icon-1x1-xsmall {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-1x1-small {
  width: 2rem;
  height: 2rem;
}

.icon-1x1-medium {
  width: 3rem;
  height: 3rem;
}

.icon-1x1-large {
  width: 5rem;
  height: 5rem;
}

.icon-1x1-xlarge {
  width: 6.5rem;
  height: 6.5rem;
}

.heading-huge {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
}

.heading-xhuge {
  letter-spacing: -.02em;
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.button {
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #010101;
  border: 2px #161616;
  border-radius: 11px;
  padding: .75rem 1.5rem;
  font-family: Changa One, Impact, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  transition: all .2s;
}

.button:hover {
  background-color: #000;
  border-color: #0000;
}

.button.button-small {
  padding: .625rem 1.25rem;
}

.button-tertiary {
  border: 1px solid #00000026;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  min-height: 2.5rem;
  padding: .5rem 1rem;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  transition: background-color .2s;
  display: flex;
}

.button-tertiary:hover {
  background-color: #e4e2df;
}

.button-tertiary_icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: .5rem;
}

.button-tertiary_icon.left {
  margin-left: 0;
  margin-right: .5rem;
}

.button-row-grid {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  place-items: center start;
  display: grid;
}

.button-row-grid.tablet-1-col {
  grid-template-rows: auto auto;
}

.button-secondary {
  color: #000;
  text-align: center;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 8px;
  padding: .75rem 1.5rem;
  font-weight: 500;
  line-height: 1;
  transition: all .2s;
}

.button-secondary:hover {
  background-color: #d8d5d1;
}

.button-secondary.button-small {
  padding: .625rem 1.25rem;
}

.form-field-wrapper {
  margin-bottom: .75rem;
  position: relative;
}

.form-radio {
  cursor: pointer;
  border: .0625rem solid #16161633;
  border-radius: 100px;
  width: 1.125rem;
  min-width: 1.125rem;
  height: 1.125rem;
  min-height: 1.125rem;
  margin-top: 0;
  margin-left: -1.125rem;
}

.form-radio.w--redirected-checked {
  background-color: #fff;
  background-image: none;
  border-width: 6px;
  border-color: #161616;
}

.form-radio.w--redirected-focus {
  box-shadow: none;
  border-color: #000;
  margin-top: 0;
}

.checkbox-wrapper {
  align-items: center;
  margin-bottom: 0;
  padding-left: 1.25rem;
  transition: all .2s;
  display: flex;
}

.checkbox-wrapper:hover {
  color: #161616a6;
}

.form_grid-1-col {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-auto-columns: 100%;
  place-items: start stretch;
  display: grid;
}

.stylesystem-form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.form-checkbox-label {
  cursor: pointer;
  margin-bottom: 0;
  padding-left: .875rem;
  font-size: 1rem;
  line-height: 1;
}

.field-label {
  margin-bottom: .5rem;
  font-size: .875rem;
  font-weight: 500;
}

.form-input {
  color: #000;
  background-color: #fff;
  border: 1px solid #0000;
  border-radius: 8px;
  height: auto;
  min-height: 2.75rem;
  margin-bottom: 0;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.6;
}

.form-input:hover {
  box-shadow: 0 1px 3px #0000001a;
}

.form-input:focus {
  background-color: #fff;
  border-color: #16161626;
}

.form-input::placeholder {
  color: #0009;
}

.form-input.select {
  background-color: #fff;
  background-image: none;
}

.form-input.text-area {
  height: auto;
  min-height: 11.25rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  overflow: auto;
}

.form-checkbox {
  cursor: pointer;
  border: 1px solid #16161633;
  border-radius: 4px;
  width: 1.125rem;
  min-width: 1.125rem;
  height: 1.125rem;
  min-height: 1.125rem;
  margin-top: 0;
  margin-left: -1.125rem;
  transition: all .2s;
}

.form-checkbox:hover {
  border-color: #161616;
}

.form-checkbox.w--redirected-checked {
  box-shadow: none;
  background-color: #161616;
  background-image: url('../images/checkbox-tick.svg');
  background-size: 16px 16px;
  border-width: 1px;
  border-color: #161616;
}

.form-checkbox.w--redirected-focus {
  box-shadow: none;
  border-color: #000;
}

.form-radio-wrapper {
  align-items: center;
  margin-bottom: 0;
  padding-left: 1.125rem;
  display: flex;
}

.body {
  background-color: var(--light-grey-1);
}

.heading-xxhuge {
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.2;
}

.navbar_tablet-menu-button {
  color: var(--white);
  background-color: #000;
  border: 1px solid #000;
  margin-left: 1rem;
  padding: .5rem 1.5rem;
  display: none;
}

.navbar_menu-left {
  align-items: center;
}

.navbar_link {
  opacity: .7;
  text-transform: uppercase;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  transition: opacity .2s cubic-bezier(.215, .61, .355, 1), border .2s cubic-bezier(.215, .61, .355, 1);
}

.navbar_link.w--current {
  opacity: 1;
  color: var(--black);
  border-bottom: 2px solid #000;
}

.navbar_component {
  align-items: center;
  height: 4.5rem;
  padding-left: 5%;
  padding-right: 5%;
  position: fixed;
  inset: 0% 0% auto;
}

.navbar_menu-button {
  padding: 0;
}

.navbar_logo-link {
  padding-left: 0;
}

.navbar_container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.navbar_menu-background {
  display: none;
  position: static;
}

.navbar_logo-link-menu {
  padding-left: 0;
  display: none;
}

.navbar_menu-right {
  align-items: center;
}

.header_component {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  width: 100%;
  display: grid;
}

.section-header.background-color-primary {
  background-color: #fff0;
}

.button-2 {
  border: 1px solid var(--black);
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  padding: .75rem 1.5rem;
}

.video_component {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.cta_button-wrapper {
  margin-left: 1rem;
}

.cta_content {
  flex: 1;
}

.cta_component {
  grid-column-gap: 5rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: minmax(max-content, 1fr) 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  display: grid;
}

.section-cta.cta-color {
  background-color: #0a84cd;
}

.cta_button-row {
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.testimonial1_client-image {
  object-fit: cover;
  border-radius: 100%;
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  min-height: 4rem;
}

.testimonial_client-image-wrapper {
  margin-bottom: 1rem;
}

.testimonial_component {
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.testimonial_client-div {
  justify-content: center;
  align-items: center;
  display: flex;
}

.testimonial_client-text-wrapper {
  flex-direction: column;
  align-items: flex-start;
  margin-left: .5em;
  display: flex;
}

.leadmagnet_form-block {
  max-width: 30rem;
  margin-bottom: 0;
}

.leadmagnet_component {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.leadmagnet_form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 1rem;
  display: grid;
}

.error-message {
  margin-top: 1.5rem;
  padding: .875rem 1rem;
}

.success-message {
  background-color: var(--light-grey-1);
  padding: 1.5rem;
}

.qoute-grid-card_top {
  border-bottom: 1px solid #ecebea;
  padding: 16px 24px;
}

.qoute-grid-card_top.no-border {
  padding-bottom: 0;
}

.card-top_row {
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  display: flex;
}

.card-top_row.row-align-center {
  align-items: center;
}

.card-top_row-text {
  margin-left: 12px;
}

.grid-row {
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  align-items: start;
  display: grid;
}

.avatar {
  border-radius: 50%;
  width: 96px;
  height: 96px;
}

.qoute-grid-card {
  background-color: #fff;
  border: 1px solid #ecebea;
  border-radius: 6px;
  flex-direction: column;
  display: flex;
  position: relative;
}

.qoute-grid-card:hover {
  text-decoration: none;
}

.qoute-grid-card.no-border {
  position: relative;
}

.qoutes-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
  grid-auto-columns: 1fr;
  display: grid;
}

.quote-grid-card_bottom {
  flex: 1;
  padding: 24px;
}

.content-width-large {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  direction: ltr;
  width: 100%;
  max-width: 612px;
}

.content-width-large.tabs-row-content {
  background-color: #f8f6f3;
  margin-left: 24px;
  margin-right: 24px;
}

.content-width-small {
  direction: ltr;
  flex: none;
  width: 450px;
}

.content-width-small.card-tabs {
  flex-direction: column;
  display: flex;
}

.expandable-text {
  margin-top: 8px;
}

.expandable.expandable-card {
  background-color: #0000;
  border: 1px solid #0000;
  border-radius: 6px;
  padding: 12px 24px;
  transition: transform .2s, border-color .2s, background-color .2s;
}

.expandable.expandable-card:hover {
  text-decoration: none;
  transform: translate(8px);
}

.expandable.expandable-card.w--current {
  background-color: #fff;
  border-color: #ecebea;
  padding-top: 24px;
  padding-bottom: 24px;
}

.expandable.expandable-card.w--current:hover {
  transform: none;
}

.tabs-row {
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.image-wrap {
  cursor: zoom-in;
  width: 612px;
  height: 482px;
  position: relative;
  overflow: hidden;
}

.hover-image {
  z-index: 2;
  background-image: none;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  height: 1000px;
  position: absolute;
  top: -50%;
  left: 0%;
  right: 0%;
}

.hover-image._02, .hover-image._03, .hover-image._04 {
  background-image: none;
}

.main-image {
  background-image: none;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.main-image._04, .main-image._03, .main-image._02 {
  background-image: none;
}

.meetauthor_component {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.footer_legal-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  display: grid;
}

.footer_top-wrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer_credit-text {
  font-size: .875rem;
}

.footer_link-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 0px;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  justify-items: start;
  display: grid;
}

.line-divider {
  background-color: #0000;
  width: 100%;
  height: 1px;
}

.footer7_legal-link {
  font-size: .875rem;
}

.social-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.footer_bottom-wrapper {
  justify-content: space-between;
  display: flex;
}

.dropdown-content {
  z-index: 10;
  background-color: #01b4ded9;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.button-dropdown {
  width: 250px;
  position: relative;
}

.dropdown-trigger {
  text-transform: uppercase;
  cursor: pointer;
  background-color: #01b4de;
  padding: 16px 24px;
  font-size: 22px;
  line-height: 28px;
}

.dropdown-trigger.ga-event {
  background-color: #010101;
  border-radius: 12px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 20px;
  line-height: 26px;
}

.dropdown-trigger.ga-event:active, .dropdown-trigger.ga-event:focus {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.buy-link {
  color: #fff;
  text-transform: uppercase;
  padding: 8px 24px;
  font-size: 18px;
  line-height: 24px;
  transition: box-shadow .2s;
  display: block;
}

.buy-link:hover {
  color: #fff;
  box-shadow: inset 0 0 100px 100px #0003;
}

.style-guide-nav {
  border-right: 1px solid #000;
  width: 240px;
  height: 0;
  position: fixed;
  top: 0%;
  bottom: 0;
  left: 0;
}

.style-guide-nav_container {
  width: 240px;
  height: 100vh;
}

.style-guide-nav_brand {
  margin-top: 0;
  margin-bottom: 23px;
  margin-left: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.style-guide-nav_menu {
  width: 100%;
}

.style-guide-menu_link {
  color: #949090;
  width: 100%;
  transition: color .2s, background-color .2s;
}

.style-guide-menu_link.w--current {
  color: var(--white);
  background-color: #00003c;
  font-weight: 700;
}

.style-guide-content {
  max-width: 100%;
  margin-left: 240px;
}

.style-guide-wrapper {
  width: 100%;
  height: 100vh;
}

.style-guide-section {
  z-index: 0;
  text-align: left;
  padding: 60px 80px 60px 60px;
  position: relative;
}

.style-guide-section.heading {
  color: #fff;
  background-color: #00003c;
}

.style-guide_text-box {
  max-width: 500px;
  min-height: 64px;
}

.background-color-primary {
  background-color: #fff;
}

.background-color-secondary {
  background-color: var(--secondary);
}

.background-color-tertiary {
  background-color: #fc9f5b;
}

.text-color-custom1 {
  color: #ff4848;
}

.text-color-custom2 {
  color: #6248ff;
}

.text-color-custom3 {
  color: #0a9b00;
}

.text-font-one {
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}

.text-font-two, .text-font-three {
  font-family: Oswald, sans-serif;
}

.style-guide-header {
  margin-bottom: .5rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.benefits-left_item {
  display: flex;
}

.benefits-left_component {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.benefits-left_item-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: grid;
}

.benefits-left-icon-wrapper {
  flex: none;
  align-self: flex-start;
  margin-right: 1rem;
}

.benefits-right_item {
  display: flex;
}

.benefits-right_component {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.benefits-right-item-icon-wrapper {
  flex: none;
  align-self: flex-start;
  margin-right: 1rem;
}

.benefits-right_item-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: grid;
}

.logo_wrapper {
  background-color: var(--light-grey-1);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: .875rem;
  display: flex;
}

.navbar-color {
  background-color: #91dcfd;
}

.tst-name {
  font-size: 1.25rem;
}

.tst-role {
  font-size: .875rem;
}

.video {
  width: 70%;
  min-width: 500px;
}

.navbar2_menu {
  align-items: center;
}

.navbar2_button-wrapper {
  display: flex;
}

.navbar2_menu-button {
  padding: 0;
}

.navbar2_component {
  border-bottom: 1px #000;
  align-items: center;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
}

.navbar2_link {
  padding: .5rem 1rem;
}

.navbar2_link.w--current {
  color: var(--black);
}

.navbar2_logo-link {
  padding-left: 0;
}

.navbar2_container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr .25fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.navbar1_menu-buttons {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: flex;
}

.navbar1_link {
  padding: .5rem 1rem;
}

.navbar1_link.w--current {
  color: var(--black);
}

.navbar1_container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.navbar1_component {
  border-bottom: 1px #000;
  align-items: center;
  height: auto;
  padding: 6px 5%;
}

.navbar1_component.navbar-color {
  background-color: #f8863b;
  width: 100%;
  position: fixed;
  inset: 0% auto auto 0%;
}

.navbar1_menu {
  align-items: center;
  display: flex;
}

.navbar1_logo-link {
  padding-left: 0;
}

.navbar1_menu-button {
  padding: 0;
}

.navbar1_button-wrapper {
  margin-left: 1rem;
}

.hero-image {
  border-radius: 17px;
  box-shadow: 8px 0 20px 10px #3b3a3a08, 0 20px 20px 18px #717f8485;
}

.collection-list {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.tst-large-qoute {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
}

.cta-color {
  background-color: #ffd5d5;
}

.image {
  background-image: url('../images/theipad.png');
  background-position: 50%;
  background-size: cover;
}

.image-2 {
  max-height: 30px;
}

.body-2 {
  background-color: #ffd1b3;
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
}

.text-block-2 {
  color: var(--white);
  text-align: center;
  letter-spacing: 1px;
  font-family: Changa One, Impact, sans-serif;
}

.heading-4 {
  color: #161616;
  font-family: Changa One, Impact, sans-serif;
}

.code-embed {
  border-top: 1px solid #0c84c9;
  max-width: 350px;
  padding-top: 1em;
}

.code-embed-2 {
  border-top: 1px solid #424040;
  display: none;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 3.25rem;
  }

  h2 {
    font-size: 2.75rem;
  }

  h3 {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  .hide-tablet {
    display: none;
  }

  .page-wrapper {
    height: auto;
    min-height: 0;
  }

  .show-tablet {
    display: block;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .margin-xlarge {
    margin: 3.5rem;
  }

  .margin-xxlarge {
    margin: 4.5rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-xxhuge {
    margin: 7.5rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .padding-xlarge {
    padding: 3.5rem;
  }

  .padding-xxlarge {
    padding: 4.5rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 7.5rem;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .text-size-medium {
    text-align: center;
  }

  .heading-xxlarge {
    font-size: 3.25rem;
  }

  .heading-medium {
    font-size: 1.75rem;
  }

  .heading-large {
    font-size: 2.25rem;
  }

  .heading-xlarge {
    font-size: 2.75rem;
  }

  .heading-huge {
    font-size: 3.5rem;
  }

  .heading-xhuge {
    font-size: 3.75rem;
  }

  .button-row-grid.tablet-1-col {
    grid-auto-flow: row;
  }

  .heading-xxhuge {
    font-size: 4rem;
  }

  .navbar_tablet-menu-button {
    width: 100%;
    margin-top: 1.5rem;
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
  }

  .navbar_menu-left {
    z-index: 1;
    background-color: var(--white);
    -webkit-text-fill-color: inherit;
    background-clip: border-box;
    border-right: 1px solid #000;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin-left: 0;
    padding-bottom: 2.5rem;
    padding-left: 5vw;
    padding-right: 5vw;
    display: block;
    inset: 0% auto 0% 0%;
    overflow: auto;
  }

  .menu-icon3_line-top {
    background-color: #000;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: -.5px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .menu-icon3_line-middle {
    background-color: #000;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .navbar_link {
    padding: .75rem 0;
    font-size: 1.125rem;
    position: static;
  }

  .menu-icon3_line-bottom {
    background-color: #000;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .navbar_menu-button {
    margin-left: -.5rem;
    padding: 0;
  }

  .navbar_menu-button.w--open {
    background-color: #0000;
  }

  .navbar_container {
    grid-auto-columns: 1fr;
    display: grid;
  }

  .navbar_menu-background {
    z-index: 0;
    background-color: #00000080;
    width: 100vw;
    height: 100vh;
    padding-bottom: 0;
    padding-right: 0;
    display: none;
    position: absolute;
    inset: 0%;
  }

  .navbar_logo-link-menu {
    float: none;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    display: flex;
    position: static;
  }

  .navbar_menu-right {
    z-index: 1;
    background-color: var(--white);
    -webkit-text-fill-color: inherit;
    background-clip: border-box;
    border-right: 1px solid #000;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin-left: 0;
    padding-bottom: 2.5rem;
    padding-left: 5vw;
    padding-right: 5vw;
    display: block;
    inset: 0% auto 0% 0%;
    overflow: auto;
  }

  .header_component {
    grid-row-gap: 4rem;
    flex-flow: row-reverse wrap-reverse;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    min-height: auto;
    display: flex;
  }

  .header_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .cta_content {
    margin-right: 3rem;
  }

  .cta_component {
    grid-column-gap: 3rem;
    text-align: center;
    grid-template-columns: minmax(max-content, 1fr);
  }

  .cta_button-row {
    flex: none;
    justify-content: center;
  }

  .leadmagnet_component {
    grid-column-gap: 0rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    min-height: auto;
  }

  .avatar {
    width: 72px;
    height: 72px;
  }

  .qoutes-grid {
    grid-template-columns: 1fr 1fr;
  }

  .content-width-large {
    margin-left: 0;
    margin-right: 0;
  }

  .content-width-large.tabs-row-content {
    margin-top: 48px;
    margin-left: 0;
    margin-right: 0;
  }

  .tabs-row {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column-reverse;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-items: center;
    display: flex;
  }

  .meetauthor_component {
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    min-height: auto;
  }

  .dropdown-trigger.ga-event {
    display: none;
  }

  .benefits-left_component, .benefits-right_component {
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    min-height: auto;
  }

  .navbar2_menu {
    background-color: var(--white);
    -webkit-text-fill-color: inherit;
    background-clip: border-box;
    border-bottom: 1px solid #000;
    justify-content: center;
    padding: 1rem 5% 2.5rem;
    display: flex;
    overflow: auto;
  }

  .navbar2_button-wrapper {
    align-items: center;
  }

  .menu-icon2_line-middle {
    background-color: #000;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .navbar2_menu-button {
    padding: 0;
  }

  .navbar2_menu-button.w--open {
    background-color: #0000;
  }

  .menu-icon_line-middle-inner {
    width: 4px;
    height: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon2_line-top {
    background-color: #000;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .navbar2_link {
    text-align: center;
    padding: 1rem 0;
    font-size: 1.125rem;
  }

  .menu-icon2_line-bottom {
    background-color: #000;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: -.5rem;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .navbar2_container {
    grid-template-columns: .25fr 1fr;
    display: flex;
  }

  .menu-icon1_line-bottom {
    background-color: #000;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .navbar1_menu-buttons {
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    align-items: stretch;
    margin-top: 1.5rem;
  }

  .menu-icon1_line-middle {
    background-color: #000;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .navbar1_link {
    width: auto;
    padding: .75rem 0;
    font-size: 1.125rem;
  }

  .menu-icon1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: -.5rem;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .menu-icon1_line-top {
    background-color: #000;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .navbar1_menu {
    background-color: var(--white);
    -webkit-text-fill-color: inherit;
    background-clip: border-box;
    border-bottom: 1px solid #000;
    padding: 1rem 5% 2rem;
    overflow: auto;
  }

  .navbar1_menu-button.w--open {
    background-color: #0000;
  }

  .navbar1_button-wrapper {
    flex-direction: column;
    margin-bottom: 1rem;
    margin-left: 0;
    display: flex;
  }

  .code-embed {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1.125rem;
  }

  .text-rich-text figure {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .page-wrapper {
    min-height: 0;
  }

  .show-mobile-landscape {
    display: block;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .margin-xsmall {
    margin: .75rem;
  }

  .margin-small {
    margin: 1.25rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-large {
    margin: 2rem;
  }

  .margin-xlarge {
    margin: 2.5rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-xxhuge {
    margin: 5rem;
  }

  .padding-xsmall {
    padding: .75rem;
  }

  .padding-small {
    padding: 1.25rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .padding-large {
    padding: 2rem;
  }

  .padding-xlarge {
    padding: 2.5rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 5rem;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .text-size-medium {
    font-size: 1rem;
  }

  .text-size-large {
    font-size: 1.125rem;
  }

  .heading-xxlarge {
    font-size: 2.5rem;
  }

  .heading-medium {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .heading-large {
    font-size: 2rem;
  }

  .heading-xsmall {
    font-size: 1.125rem;
  }

  .heading-small {
    font-size: 1.25rem;
  }

  .text-style-quote {
    font-size: 1.125rem;
  }

  .heading-xlarge {
    font-size: 2.25rem;
  }

  .heading-huge, .heading-xhuge, .heading-xxhuge {
    font-size: 2.5rem;
  }

  .navbar_component {
    height: 4rem;
  }

  .header_component {
    grid-column-gap: 0rem;
    grid-row-gap: 3rem;
  }

  .header_image-wrapper {
    width: 270px;
    margin-top: 2em;
  }

  .cta_button-wrapper {
    margin-left: 0;
    margin-right: 1rem;
  }

  .cta_content {
    margin-right: 0;
  }

  .cta_component {
    grid-row-gap: 2rem;
    flex-direction: column;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .cta_button-row {
    justify-content: center;
    width: 100%;
  }

  .leadmagnet_component {
    grid-row-gap: 3rem;
  }

  .qoute-grid-card_top {
    padding-left: 16px;
    padding-right: 16px;
  }

  .avatar {
    width: 60px;
    height: 60px;
  }

  .quote-grid-card_bottom {
    padding: 16px;
  }

  .content-width-large {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-columns: 1fr 1fr;
    margin-left: 0;
    margin-right: 0;
  }

  .content-width-large.tabs-row-content {
    margin-top: 36px;
  }

  .content-width-small {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    max-width: 100%;
  }

  .meetauthor_component {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .footer_legal-list {
    grid-column-gap: 0rem;
    grid-row-gap: 1rem;
    grid-auto-flow: row;
    justify-items: center;
    margin-top: 2rem;
  }

  .footer_credit-text {
    margin-top: 2rem;
  }

  .footer_link-list {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: max-content 1fr 1fr 1fr;
    grid-auto-flow: row;
    justify-items: center;
  }

  .footer_bottom-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .style-guide-header {
    font-size: 1.5rem;
  }

  .benefits-left_component, .benefits-right_component {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .logo_wrapper {
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .tst-name {
    font-size: 1.125rem;
  }

  .navbar2_component {
    height: 4rem;
  }

  .menu-icon1 {
    display: none;
  }

  .navbar1_component {
    height: 4rem;
  }

  .navbar1_menu-button {
    display: none;
  }

  .hero-image {
    box-shadow: 8px 0 20px 10px #3b3a3a08, 0 -6px 13px 6px #717f8485;
  }

  .tst-large-qoute {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2.5rem;
  }

  .show-mobile-portrait {
    display: block;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .stylesystem-images_layout {
    grid-template-columns: 1fr;
  }

  .button {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .8rem;
  }

  .header_component, .leadmagnet_component {
    grid-template-columns: 1fr;
  }

  .leadmagnet_form {
    grid-row-gap: .75rem;
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .qoutes-grid {
    grid-template-columns: 1fr;
  }

  .quote-grid-card_bottom {
    padding: 12px;
  }

  .content-width-large {
    grid-template-columns: 1fr;
  }

  .content-width-large.tabs-row-content {
    margin-top: 24px;
  }

  .content-width-small {
    width: 100%;
  }

  .meetauthor_component {
    grid-template-columns: 1fr;
  }

  .footer_top-wrapper {
    flex-direction: column;
  }

  .benefits-left_component, .benefits-right_component {
    grid-template-columns: 1fr;
  }

  .logo_wrapper {
    justify-content: center;
    align-items: flex-start;
  }

  .image-2 {
    max-height: 23px;
  }
}

#w-node-bc6d790c-ce37-506e-805e-4c1b1e176e02-6141ad4b, #w-node-_96a8df5a-6952-e2fc-e716-4810aa82eef3-6141ad67, #w-node-_96a8df5a-6952-e2fc-e716-4810aa82eefd-6141ad67 {
  justify-self: center;
}

#w-node-_084c5743-d9e4-39ef-5aac-88eeb07bcb00-6141ad6c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_084c5743-d9e4-39ef-5aac-88eeb07bcb18-6141ad6c {
  justify-self: start;
}

#w-node-_655bc9c4-67e8-d846-db1b-7c8ceaaf97eb-6141ad6c, #w-node-_655bc9c4-67e8-d846-db1b-7c8ceaaf97ed-6141ad6c, #w-node-_655bc9c4-67e8-d846-db1b-7c8ceaaf97ef-6141ad6c, #w-node-b83ecc4f-a4c5-1d27-3a26-8ed660b751c0-6141ad6c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


@font-face {
  font-family: 'Relative';
  src: url('../fonts/Relative-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Relative';
  src: url('../fonts/Relative-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Relative';
  src: url('../fonts/Relative-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}